<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/form.css">
    <script src="/validation.js"></script>
    <title>BookStore</title>
</head>
<body>
<a href="/main" id="logo">
    <img src="/logo.png">
</a>
<div id="menu">
    <a href="/main">Strona Główna</a>
    <a href="/contact">Kontakt</a>
    <a href="/login" th:if="${logged == false}">Login</a>
    <a href="/logout" th:if="${logged == true}">Wyloguj</a>
</div>
<div id="content">
    <form method="post" onsubmit="return validateLoginForm()">
        <input type="text" placeholder="Login" th:field="*{user.login}" id="login">
        <input type="password" placeholder="Hasło" th:field="*{user.password}" id="password">
        <input type="submit" value="Zaloguj">
    </form>
    <a href="/register">Zarejestruj</a>
</div>
</body>
</html>